<a href="https://colab.research.google.com/github/Jczo/MyMLRepo/blob/master/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

create 5 variables

In [ ]:
first_name = "jose";
last_name = "canalizo";
major = "Comp Sci";
borough = "Queens";
college = "medgar evers college";

In [ ]:
print(first_name);

jose

In [ ]:
#Create 10 last name variables

lastName = "friedman"
last_Name = "gibson"
last_name = "fender"
LAST_NAME = "Leslie"
lastname = "Marshall"
LASTname = "Ibanez"
lAsTnAmE = "Epiphone"
LaStNaMe = "squire"
LASTNAME = "Soldano"
last___name = "Jackson"

In [ ]:
#Create 10 lists, 10 bool, and 10 floats

#10 LISTS
string = ["s","t","r","i","n","g"];
someList = ["Hello","goodbye"];
listOfNames = ["eddy", "freddy", "becky"];
listOfFruits = ["banana", "blueberries"];
listOfRandomThings = [10, "NotanInteger", 10.34, "aString"];
emptyList = [];
nullList = [];
schools = ["NYU","LaGuardia","Hunter","MIT"];
cities = ["New York","Seattle"];
listOfLanguages = ["PYTHON", "JAVASCRIPT", "C++"]

#10 BOOL

truthValue = False
truth_value = True
isPythonGood = True
isCPlusPlusGood = True
isJavaScriptGood = True
isThisClassHard = True
isThisAlotOfTime = True
amISleepy = True
amIgoingToGetMoreCoffee = True
amIHereRightNow = False

#10Floats

pi = 3.14
one = 1.00
two = 2.00
three = 3.00
four = 4.00
five = 5.00
six = 6.00
seven = 7.00
eight = 8.00
nine = 9.00

In [ ]:
#make dictionaries: 
#10 foods, 10 names, 5 sports players

10Foods = {'food1':'chicken breast', 'food2':'rice', 'food3':'banana', 
           'food4':'scrambled eggs', 'food5':'coffee', 'food6':'steak', 
           'food7':'blueberries', 'food8':'spring mix salad', 
           'food9':'water', 'food10':'avocado' }


10names = {'name1':'joey', 'name2':'joe', 'name3':'joseph',
           'name4':'johnas', 'name5':'jonas', 'name6':'jose', 
           'name7':'jonathan','name8':'jo','name9':'john','name10''terrance'}

5SportsPlayers = {'player1':'Messi', 'player2':'Jordan', 
                  'player3':'lebron', 'player4':'ronaldo',
                  'player5':'idontknowanyptherplayers'}